package main

import "fmt"

const day int = <DAY>

func main() {
	fmt.Printf("Day %d\n", day)

	fmt.Println("Answer 1")
	fmt.Println("=======================")

	fmt.Println("Answer 2")
	fmt.Println("=======================")

}
